{{<base}}
    {{$title}}Error{{/title}}
    {{$body}}
        <main class="container">
            <section>
                <h1>{{title}}</h1>
                <p>{{message}}</p>
                <a href="/">Volver al inicio</a>
            </section>
        </main>
    {{/body}}
{{/base}}
