{{<base}}
    {{$title}}Login{{/title}}
    {{$body}}
        <main class="container">
            <h1>Iniciar sesión</h1>

            <form action="/login" method="post">
                {{#email}}
                    <label for="email">Email</label>
                    <input type="email" name="{{name}}" id="email"
                           placeholder="Email" value="{{value}}"
                           {{#touched}} aria-invalid="{{invalid}}" {{/touched}}
                           {{#autofocus}} autofocus {{/autofocus}}
                           required>
                {{/email}}

                {{#password}}
                    <label for="password">Contraseña</label>
                    <input type="password" name="{{name}}" id="password"
                           placeholder="Contraseña"
                           {{#touched}} aria-invalid="{{invalid}}" {{/touched}}
                           {{#autofocus}} autofocus {{/autofocus}}
                           required>
                {{/password}}

                {{#origin}}
                    <input type="hidden" name="{{name}}" value="{{value}}">
                {{/origin}}

                <button type="submit">Login</button>
            </form>

            {{#hasErrors}}
                <p>Usuario o contraseña incorrectos.</p>
            {{/hasErrors}}
        </main>
    {{/body}}
{{/base}}
